/* app.css */
.navbar {
  background-color: #283593; /* Dark Blue */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Jab mouse upar layenge */
.nav-links a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Jo page abhi khula hai, wo highlight hoga */
.active-link {
  background-color: #ffca28; /* Yellow */
  color: #333 !important;
  font-weight: bold;
}

.container {
  padding: 20px;
}